
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local variables and creds
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# OS/editor noise
.DS_Store
Thumbs.db
.idea/
.vscode/
